.user_section {
    /*background-color: red;*/
    margin: 50px;
    display: flex;
    height: 80vh;
    max-width: 100%;
}

.repository_card {
    display: flex;
    width: 300px !important;
    overflow: initial !important;
    margin-right: 40px;
    margin-bottom: 40px;
}

.test {
    /*background-color: #61dafb;*/
    width: 501px;
    /*max-width: 100%;*/

}

.cards_container {
    display: flex;
    max-width: 62%;
    overflow: initial;
    flex-wrap: wrap;
    margin: 15px;
    margin-left: 30px;

}

.whitespace--wrap {


}