.typho-homepg {
    /*background-color: red;*/
    width: auto;
    margin-left: 40px;
    cursor: pointer;
}

.MuiTypography-h6 {
    margin-right: 40px !important;
}

.logout_typography {
    cursor: pointer;
}

.css-1x0waax-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiPaper-root {
    margin-left: 100px;
}